/** Vuetify overrides */
$font-size-root: 13px;
$icon-size: 16px;
$icon-size-dense: 12px;

/** Colors */
$color-primary: red;
$color-highlight: #528DE0;
$color-secondary: #3F506F;
$color-border: #E5E5E6;
$color-form-background: #F9F9F9;
$color-text-secondary: #73808C;
$color-text-disable: #C7CCD1;

/** Breakpoints */
$breakpoint-xs: 600px;
$breakpoint-sm: 960px;
